@page
@model FundingDashboardAPI.Pages.NewAdmin.EditModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Funding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Funding.Id" />
            <div class="form-group">
                <label asp-for="Funding.Name" class="control-label"></label>
                <input asp-for="Funding.Name" class="form-control" />
                <span asp-validation-for="Funding.Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Funding.Region" class="control-label"></label>
                <input asp-for="Funding.Region" class="form-control" />
                <span asp-validation-for="Funding.Region" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Funding.ServiceLine" class="control-label"></label>
                <input asp-for="Funding.ServiceLine" class="form-control" />
                <span asp-validation-for="Funding.ServiceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.MinimumCriteria" class="control-label"></label>
                <input asp-for="Funding.MinimumCriteria" class="form-control" />
                <span asp-validation-for="Funding.MinimumCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.Description" class="control-label"></label>
                <input asp-for="Funding.Description" class="form-control" />
                <span asp-validation-for="Funding.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.HowToApply" class="control-label"></label>
                <input asp-for="Funding.HowToApply" class="form-control" />
                <span asp-validation-for="Funding.HowToApply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.WhenToApply" class="control-label"></label>
                <input asp-for="Funding.WhenToApply" class="form-control" />
                <span asp-validation-for="Funding.WhenToApply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.ApprovalProcess" class="control-label"></label>
                <input asp-for="Funding.ApprovalProcess" class="form-control" />
                <span asp-validation-for="Funding.ApprovalProcess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.FundingCollection" class="control-label"></label>
                <input asp-for="Funding.FundingCollection" class="form-control" />
                <span asp-validation-for="Funding.FundingCollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.AddedBy" class="control-label"></label>
                <input asp-for="Funding.AddedBy" class="form-control" />
                <span asp-validation-for="Funding.AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funding.AddedOn" class="control-label"></label>
                <input asp-for="Funding.AddedOn" class="form-control" />
                <span asp-validation-for="Funding.AddedOn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Funding.Archived" /> @Html.DisplayNameFor(model => model.Funding.Archived)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
